
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.App {
  text-align: center;

}
#one{
  padding-left: 3px;
  color: red;

}
#reg{
  display: flex;
  width: 300px;
  padding-left: 508px;
  justify-content: space-between;
}
#rega{
  display: flex;
  width: 290px;
  padding-left: 508px;
  justify-content: space-between;
}

#regaa{
  display: flex;
  width: 350px;
  padding-left: 508px;
  justify-content: space-between;
}

#regp{
  display: flex;
  width: 300px;
  padding-left: 508px;
  justify-content: space-between;
}

#span{
  color: blue;
}



